<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit Type</title>
  <link rel="stylesheet" href="/assets/css/hero-type.css" />
</head>

<body>
  {{#> layout title="Add Type" user=user}}
  <h1 class="heroTitle">Edit Type</h1>
  <main>
    <form action="/type-update/{{data.id}}" method="post" id="contactForm">
      <div class="container-hero">
        <div class="form-input">
          <label for="nametype">Name Type</label><br />
          <input type="text" name="nametype" id="nametype" value="{{data.nametype}}"/>
          <hr />
        </div>

        <div class="form-input">
          <label for="description">Description</label><br />
          <textarea name="description" id="description" id="" rows="6">{{data.description}}</textarea>
          <hr />
        </div>

        <div class="button-login">
          <button type="submit" class="button-login-submit">Save</button>
        </div>

      </div>
    </form>
  </main>
  {{/layout}}
</body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Load external JavaScript -->
  <script src="/assets/js/test.js"></script>
</html>